{% extends 'bookmarker/base.html' %}
{% load static %}

{% block main %}
<div class="container-fluid">

    <div class="input-group mw-75 ">
        {% csrf_token %}
        <div class="input-group-append">
            <label class="input-group-text" for="days">Days</label>
        </div>
        <input type="number" class="form-control" value=0 id="days" placeholder="Days" min="0" max="365">
        <div class="input-group-append">
            <label class="input-group-text" for="hours">Hours</label>
        </div>
        <input type="number" class="form-control" value=0 id="hours" placeholder="Hours" min="0" max="24">
        <div class="input-group-append">
            <label class="input-group-text" for="mins">Minutes</label>
        </div>
        <input type="number" class="form-control" value=0 id="mins" placeholder="Minutes" min="0" max="60">
        <div class="input-group-append">
            <button class="btn btn-success">Generate</button>
        </div>
    </div>
    <p class="mt-2 link" id="link"><a href="" target="_blank"></a></p>

    {% for video in videos %}
    <div class="card mb-3" style="max-width: 75%;">
        <div class="row no-gutters">
            
            <div class="col-md-4">
                <img src="{{video.thumbnail}}" class="card-img" alt="video.title">
            </div>

            <div class="col-md-8 ">
                <div class="card-body">
                    <input type="hidden" name="video_id" class="video_id" value="{{video.id}}">
                    <h5 class="card-title video_title">{{video.title}}</h5>
                </div>
            </div>

        </div>
    </div>

    {% endfor %}

</div>

{% endblock main %}



{% block script %}
<script>
    $(document).ready(function () {
        $('.container-fluid').click('button', function (e) {

            if (e.target.tagName == 'BUTTON') {
                var days = $(e.target).parent().siblings('input[placeholder=Days]').val()
                var hours = $(e.target).parent().siblings('input[placeholder=Hours]').val()
                var minutes = $(e.target).parent().siblings('input[placeholder=Minutes]').val()


                // e.preventDefault();

                var btn = $(e.target).parent().parent()
                $.ajax({
                    type: "post",
                    url: "{% url 'generate' %}",
                    data: {
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        video_id: btn.siblings('.video_id').val(),
                        days: days,
                        hours: hours,
                        minutes: minutes
                    },
                    success: function (response) {
                        btn.siblings('#link').children('a').text(response.link)
                        btn.siblings('#link').children('a').attr('href',`/${response.link}`)

                    },
                    error: function (e) {
                        console.log(e.error)
                    }
                });
            }

        });
    });
</script>
{% endblock script %}