{% extends 'bookmarker/base.html' %}
{% load static %}

{% block main %}

<div class="first" id="tokenform">

    <h3 class="select">Select amount</h3>

    <form action="" class="form-container">
        {%csrf_token%}
        <input type="number" class="form-control" name="tokens" id="tokens" min="1" value="1">
        <h3 class="price">$ <span id="price">10</span></h3>
        <div id="paypal-button-container"></div>
    </form>

</div>

{% endblock main %}

{% block script %}
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD&disable-funding=credit"></script>
<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            color: 'blue',
            shape: 'rect',
        },

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(Number(document.getElementById("price")
                            .textContent)).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {

                console.log(details)

                // Show a success message to the buyer
                buyTokens()

                 window.location.href = "{% url 'profile' request.user.username %}"
            });
        }

    }).render('#paypal-button-container');
</script>

<script>
tprice = document.getElementById('price')
    document.getElementById('tokens')
        .addEventListener('input', function (e) {
            tprice.textContent = `${e.target.value * 10}`
        });


    function buyTokens() {

        $.ajax({
            type: "post",
            url: "{% url 'buy_tokens' %}",
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                tokens: document.getElementById("tokens").value,
            },
            success: function (response) {
                alert("Tokens Added Successfully")
               

            },
            error: function (e) {
                alert("There was an error")
            }

        });
    }
</script>


{% endblock script %}