{% extends 'bookmarker/base.html' %}
{% block main %}




<div class="row">
    <div class="col-md-9">
        <form action="" method="get" style="padding-bottom: 1rem; justify-content: center;">

            <div class="input-group">
                <input id="v" name="v" type="text" class="form-control" placeholder="Paste video Url or id here">
                <div class="input-group-append">
                    <button id="v_btn" disabled class="btn btn-danger" type="submit">
                        <i class="fas fa-play"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item">
                <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="{% if video.vid %}{{video.vid}}{% else %}None{% endif %}"></div>
            </div>
        </div>


    </div>
    <div class="col-md-3">

        <div class="form-group">
            <form action="" method="POST" id="submitTimeStamp">
                {% csrf_token %}

                <label for="timestamps">Time Stamps</label>
                <textarea class="form-control" id="timestamps" name="timestamps" rows="10">{{video.timestamps}}</textarea>
                <button type="button" class="btn btn-dark" id="addTimeStamp">add current time</button>
                <button class="btn btn-dark g-recaptcha" data-sitekey="6LcxrbAZAAAAAGRIVwQ2GaF4dzztHIFm7El9Z9Yo"
                    data-callback="onSubmit" type="submit">Update video</button>

            </form>

        </div>

    </div>
</div>

{% endblock main %}