{% extends 'bookmarker/base.html' %}
{% load static %}
{% block main %}
  

      <section class="top">
        <div>
          <form action="" class="form-input">
            <input type="url" class="top-input" placeholder="Video Link Here" />
            <button class="btn-red">
              <i class="fas fa-play" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </section>

      <section class="grid">
        <!-- locked video section here -->
        <div class="video-grid">
          <a href="{% url 'store' %}"><img src="{% static 'images/LockGif.gif' %}" alt="" class="video lock" /></a>

          <!-- Number of Token Needed to unlock -->
          <div class="description">
            <p>
              <img src="{% static 'images/PauseLock.png' %}" width="50px" alt="" /> 1 Token
              required to Unlock
            </p>
          </div>
        </div>
        <!-- Auto Pause Times section -->
        <div class="time-list">
          <div class="head">
            <h5>Auto Pause Times</h5>
            <button>ON</button>
          </div>

          <ul class="lists">
            
          </ul>
          <div class="btn-groups">
            <button>Add Current Time</button>
            <button>Submit</button>
          </div>
        </div>
      </section>
{% endblock main %}