{% extends 'bookmarker/base.html' %}
{% block main %}
{% load static %}



<section class="view">
  <div class="store-grid">

    {% comment %} Token field {% endcomment %}
    <div class="first" id="token">

      <img src="{% static 'images/Token icon.png' %}" alt="" class="store-img2" />
      <a type="button" href="{% url 'buy_tokens' %}" class="btn btn-red2">Buy Token</a>
      <h1 class="price">$100</h1>

    </div>

    
    {% comment %} subscription field {% endcomment %}
    <div class="first" id="sub">

      <img src="{% static 'images/IconNoShadow.png' %}" alt="" class="store-img" />
      <a class="btn btn-red2" href="{% url 'subscribe' %}">Subscribe</a>
      <h1 class="price">$200</h1>

    </div>

    

  </div>

</section>

{% comment %} Promo Code Field {% endcomment %}
<section class="bottom">
  <div>
    <form action="{% url 'redeem' %}" method="POST" class="form-input">
      {% csrf_token %}
      <input type="text" name="p_code" class="top-input" placeholder="Enter Promo Code">
      <button class="btn-red-submit">Submit </button>
    </form>
  </div>

</section>
{% endblock main %}