{% extends "bookmarker/base.html" %}
{% load static %}
{% block main %}

<div class="account">

  <div class="account-div">
    <img src="{% static 'images/Token icon.png' %}" class="account-img2" />
    <p>{{ user.tokens.amount}} Tokens</p>
    <a type="button" class=" account-btn btn btn-success" href="{% url 'store' %}">Get More</a>
  </div>

  {% if user.subscription.has_paid %}
  <div class="account-div">
    <img src="{% static 'images/IconNoShadow.png' %}" alt="" class="account-img" />
    <p>Your Subscription expires </p>
    <p>in {{user.subscription.paid_until | timeuntil }} </p>
    <p>on {{user.subscription.paid_until|date }} </p>

    <a type="button" class=" account-btn btn">Subscribe</a>
  </div>
{% else %}
<div class="account-div">
    <img src="{% static 'images/IconNoShadow.png' %}" alt="" class="account-img" />
    <p> No Subscription </p>
    <a type="button" class=" account-btn btn btn-success" href="{% url 'store' %}">Subscribe</a>
  </div>

{% endif %}


  <div class="account-div">
    <h1>{{user.videos.count}}</h1>
    <p>Videos Stamped</p>
    <a type="button" class=" account-btn btn btn-success" href="{% url 'store' %}">Stamp More</a>
  </div>

</div>

<div class="footer">
  <h5><a type="button" class=" account-btn btn btn-primary" href="">Edit Info</a> </h5>
  <h5><a type="button" class=" account-btn btn btn-primary" href="{% url 'account_logout' %}">Logout</a></h5>
</div>
{% endblock main %}
